/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Page background colour */
body {
    background-color: #ffffff;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
}

/* Styling the buttons */
button {
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(40, 37, 37);
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #555;
}

/* Styling the navbar */
.navbar {
    width: 100%;
    padding: 20px 50px;
    background-color: #ffffff;
}

.logo-img {
    max-height: 60px;
}

/* Styling the return to top button in the navbar. Hidden by default */
#myBtn {
    display: none;
    position: fixed;
    /* Fixed/sticky position */
    right: 40px;
}

/* Adding visual separation with white background */
section {
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* Styling Assessment Cards within the test area */
.tests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    border: 2px solid #aed6fc;
    border-radius: 10px;
    flex: 1 1 40%;
}

.test1-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    border: 2px solid #aed6fc;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Hide results section by default */
#results {
    display: none;
}

/* Image Styling */
.tests img {
    max-width: 70%;
    height: auto;
}

.test1-image img {
    max-height: 100%;
    max-width: 60%;
    height: auto;
}

/* Hero Section */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-image img {
    height: auto;
}

.hero-text p {
    font-size: 20px;
}

/* For tablets (devices with screen width less than or equal to 768px) */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .tests {
        flex: 100%;
    }

    .test1-container {
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}