/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Page backgorund colour */
body {
    background-color: #f0f0f0;
}

main {
    padding: 30px;
}

/* Adding visual separation with white background */
section {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* Styling Assessment Cards within the test area */
.row div {
    background-color: #aed6fc;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}