/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Page background colour */
body {
    background-color: #f0f0f0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
}

/* Adding visual separation with white background */
section {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* Styling Assessment Cards within the test area */
.tests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    border: 2px solid #aed6fc;
    border-radius: 10px;
    flex: 1 1 40%;
}

.test1-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    border: 2px solid #aed6fc;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Image Styling */
.tests img {
    max-width: 70%;
    height: auto;
}

.test1-image img {
    max-height: 100%;
    max-width: 60%;
    height: auto;
}

/* Hero Section */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-image img {
    height: auto;
}

.hero-text p {
    font-size: 20px;
}